.left-nav {
    width: var(--nav-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    left:0;
    position: fixed;
    height: 100%;
    z-index: 999;
    transition: width 0.3s;
}
.nav-logo {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.nav-icons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
}

.nav-icon {
    color: var(--primary-color);
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;     
    transition: all 0.3s;
    position: relative;
        background-color: var(--light-bg);
    align-items: center;
    /* padding: 10px; */
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {    
     .hover-show {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 40px;
        background-color: none;
        z-index: 1000;
        cursor: pointer;
    }

  .left-nav {
    width: var(--nav-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background: none;
    left: -200px;
    background-color: none !important;
    position: fixed;
    top: 0;
    height: 100vh;
    padding-top: 200px;
    color: white;
    transition: left 0.3s ease;
    z-index: 999;
  }
    .scrolling {
        left: 0 !important;
  }

  .hover-show:hover + .left-nav {
    left: 0;
  }
  .left-nav:hover {
    left: 0;
  }
}
.nav-icon:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.nav-tooltip {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    margin-left: 10px;
    font-size: 0.9rem;
}

.nav-tooltip::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent transparent;
}

.nav-icon:hover .nav-tooltip {
    opacity: 1;
    visibility: visible;
}

.nav-footer {
    margin-top: auto;
}
